.hamburger {
  height: 21px;
  width: 34px;
  cursor: pointer;
  margin-top: 20px; 
}



@media (min-width: 768px) {
  .mobile-nav {
    display: none !important;
  }

  .hamburger {
    display: none !important;
  }
}

.desktop-nav {
  display: none;
}

@media (min-width: 768px) {
  .desktop-nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
  }
}

/* Default: hide desktop nav */
.desktop-nav {
  display: none;
}

/* Show + style on desktop */
@media (min-width: 768px) {
  .desktop-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: .8rem .7rem;
    display: flex;
    justify-content: flex-end;

    background: transparent;
    z-index: 1000;
  }

  

  .desktop-nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

  .desktop-nav a {
  text-decoration: none;
  color: white;
  width: 111px;
  height: 33px;
  padding: 13px 36px 14px 35px;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 11px; 
  font-size: 1rem;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
    height: 20px;
  }
}

@media (min-width: 768px) {
  .values-list {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap; 
    gap: 0;
    padding-top: .5rem;
    width: 100%;
  }

  .value-item {
    flex: 1;
    max-width: 25;
  }

  .value-item img {
    width: 100%;
    max-width: 300px; 
    height: auto;
  }
}




