



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

/* Transparent Navbar */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  height: 40px;
}

.hamburger {
  height: 24px;
  cursor: pointer;
}


/* Navbar fixed to top-right */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background: transparent;
}

.logo {
  height: 40px;
}

.hamburger {
  height: 24px;
  cursor: pointer;
  z-index: 1001;
}

/* Sliding nav (hidden by default) */
.mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  left: auto;
  width: 100%;
  height: 100vh;
  background-color: #f57c1f;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}

.mobile-nav.active {
  right: 0;
}

.mobile-nav ul {
  list-style: none;
  margin-left: 10rem;
  padding: 0;
  display: flex;
  flex-direction: column;

}

.mobile-nav li {
  margin: 2rem 0;
}

.mobile-nav a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}


/* Hero Section */
.hero {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  
  object-position: center;
 
}





