/* fonts */

@font-face {
  font-family: 'AMORIA';
  src: url('../fonts/amoria.zip');
  font-weight: normal;
}

@font-face {
  font-family: 'baskerville';
  src: url('../fonts/BaskervvilleSC-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'LEMON_MILK_regular';
  src: url('../fonts/lemon_milk.otf');
  font-weight: bold;
}
@font-face {
  font-family: 'LEMON_MILK_bold';
  src: url('../fonts/lemon_milk_bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: 'LEMON_MILK_med';
  src: url('../fonts/lemon_milk_med.otf');
  font-weight: bold;
}




.mobile-nav ul {
font-family: 'AMORIA', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 400;
}


.desktop-nav a {
color: #FFF;
font-family: 'AMORIA', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.explore-rooms h2 , .section-title, .reviews-title, .cart-title, .confirmation-title {
font-family: 'AMORIA', sans-serif;
}

.cart-card-heading{
  font-family: "LEMON_MILK_bold", sans-serif;
}

.section-title , .reviews-title, .escape-title, .about-title, .escape-info-title, .choose-us-title, .booking-heading, .confirmation-title{
color: #FFF;
text-align: center;
font-family: 'AMORIA', sans-serif;
font-size: 55px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.booking-heading, .confirmation-title{
    color: #f57c1f;
}



@media (min-width: 768px) {
    .section-title , .reviews-title{
        font-size: 65px;

    }
}


.reviews-title {
color: #f57c1f;
font-size: 55px;
}

.choose-us-title{
    margin-top: 40px;
}

.room-title {
color: #FFF;
text-align: center;
font-family: AMORIA;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.footer-links{
    font-family:'baskerville';
    font-size: 11px;
}

p{
    font-size: 14px;
    font-family: 'LEMON_MILK_med';
    text-transform: uppercase;
}

.difficulty{
    font-family: 'LEMON_MILK_med';
    font-size: 16px;
    color: #f57c1f;
    text-transform: uppercase;
}

.room-details-btn, .details-btn{
    text-decoration: none;
    margin-top: 25px;
    font-size: 18px;
    font-family: 'LEMON_MILK_med';
    color: #FFF;
    text-transform: uppercase;
    width: 250px;
}




.more-rooms-text {
  color: #f57c1f;
  font-family: 'LEMON_MILK_med', sans-serif;
  font-size: 43px;        /* Mobile default */
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  max-width: 100%;
  margin-top: 10px;
  margin: 0 auto;
  word-break: break-word;   /* allows wrapping */
}

/* Desktop override */
@media (min-width: 768px) {
  .more-rooms-text {
    font-size: 65px;       
    white-space: nowrap;  
    font-family: 'LEMON_MILK_med', sans-serif;   
  }
}


/*About page */
.about-description{
    color: #FFF;
    text-align: center;
    font-family: "LEMON_MILK_med";
    font-size: 33px;
    font-style: bold;
    line-height: normal;
}



.keyword{
    color: #f57c1f;
    text-align: center;
    font-family: 'AMORIA', sans-serif;
    font-size: 50px;
}


.escape-info-description, .choose-title{
    color: white;
    font-family: 'LEMON_MILK_med';
    font-size: 18px;
    text-align: center;
}

@media (min-width: 768px) {
  .keyword{
    color: #f57c1f;
    text-align: center;
    font-family: 'AMORIA', sans-serif;
    font-size: 70px;
}

}
.choose-info-description{
    color: white;
    font-family: 'lemon_milk_regular';
}

.choose-title{
    font-family: 'lemon_milk_med';
    font-size: 22px;
}

/* date bpoking page */

.room-booking .escape-title{
    font-size: 42px;
    padding-left: 72px;
    padding-right: 72px;
}

.room-description-text {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

.calendar-wrapper{
    font-family: 'lemon_milk_regular';
}

.calendar-date{
    font-size: 14px;
}
.time-button {
  color: #3e2b23;
  font-family: 'lemon_milk_med', sans-serif;
  font-size: 18px;
}

.tab-button {
  color: #3e2b23;
  font-family: 'lemon_milk_med', sans-serif;
  font-size: 18px;
}

#people-dropdown {
  color: #3e2b23;
  font-family: 'lemon_milk_med', sans-serif;
  font-size: 18px;
}

.add-to-cart-btn {

  font-family: 'lemon_milk_med', sans-serif;
  font-size: 18px;
  
}

.empty-cart-message{
  font-family: 'lemon_milk_med', sans-serif;
  font-size: 18px;
  
}

.total-cost{
  font-weight: bold; 
  font-size: 18px;
  font-family: 'lemon_milk_med', sans-serif; 
  color: white;
  margin-bottom: 2rem;
 
}

.cart-date,
.cart-time,
.cart-people,
.cart-price {
  margin-bottom: 0.4rem;
  font-family: 'lemon_milk_med', sans-serif;
}


.checkout-btn{
  font-family: "lemon_milk_med", sans-serif;
  font-size: 18px;
}

/*cart*/

.form-heading{
  font-size: 30px;
  text-align: center;
}

.input-group label{
  font-family: "LEMON_MILK_regular";
  font-size: 14px;
}

.input-group input{
  font-family:"LEMON_MILK_regular" ;
  color: black;
  font-size: 14px;
}

.form-submit button{
  font-family: "LEMON_MILK_med";
} 

.confirmation-message{
  font-size: 20px;
}
.confirmation-messages{
  font-size: 20px;
}
.see-you-text{
font-size: 25px;
}
.see-you-company{
  margin-top: 0;
  font-family: 'Amoria';
  font-size: 34px;
  color: #f57c1f;
}
