/* fonts */

@font-face {
  font-family: 'AMORIA';
  src: url('../fonts/amoria.zip');
  font-weight: normal;
}

@font-face {
  font-family: 'baskerville';
  src: url('../fonts/baskerville.zip');
  font-weight: normal;
}

@font-face {
  font-family: 'lemon_milk';
  src: url('../fonts/lemon_milk.zip');
  font-weight: normal;
}


.mobile-nav ul {
font-family: 'AMORIA', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 400;
}


.desktop-nav a {
color: #FFF;
font-family: 'AMORIA', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.explore-rooms h2 , .section-title, .details-btn, .reviews-title {
font-family: 'AMORIA', sans-serif;
}

.section-title , .reviews-title{
color: #FFF;
text-align: center;
font-family: AMORIA;
font-size: 55px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.reviews-title {
color: #f57c1f;
font-size: 55px;
}

.room-title {
color: #FFF;
text-align: center;
font-family: AMORIA;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.footer-links{
    font-family:'baskerville';
    font-size: 11px;
}